
@{
    ViewBag.Title = "OrderInAdmin";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}



<div class="function">
    <form action="" method="post">
        <input type="text" name="search">
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>


</div>
<div class="container-home">
    <div class="menu">
        <ul>
            <li class="menu-item">
                <a href="./index.html">Product</a>
            </li>
            <li class="menu-item">
                <a href="./account.html">Account</a>
            </li>
            <li class="menu-item">
                <a href="/order.html">Order</a>
            </li>
            <li class="menu-item">
                <a href="./add_product.html">Add Product</a>
            </li>
            <li class="menu-item">
                <a href="./login.html">Log Out</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <table>
            <tr>
                <th>Code</th>
                <th>Name Customer</th>
                <th>Date Order</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>CCKT01</td>
                <td>Minh Chanh</td>
                <td>12/01/2021</td>
                <td>$1127</td>
                <td>Delivering</td>
                <td>
                    <a href="./view_product.html">
                        <i class="far fa-eye"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>CCKT01</td>
                <td>Minh Chanh</td>
                <td>12/01/2021</td>

                <td>$1127</td>
                <td>Delivering</td>
                <td>
                    <a href="./view_product.html">
                        <i class="far fa-eye"></i>
                    </a>
                </td>
            </tr>

            <tr>
                <td>CCKT01</td>
                <td>Minh Chanh</td>
                <td>12/01/2021</td>

                <td>$1127</td>
                <td>Delivering</td>

                <td>
                    <a href="/order_detail.html">
                        <i class="far fa-eye"></i>
                    </a>
                </td>
            </tr>


        </table>
    </div>
</div>





