@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>My Admin</title>
    <link rel="stylesheet" href="~/Content/admin/scss/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
</head>
<body>
    <div class="header container-fluid py-3">
        <div class=" d-flex justify-content-between">
            <div class="">
                <img src="https://htmldemo.net/ruiz/ruiz/assets/images/logo/logo.png" alt="">
            </div>
            <div>
                <span class="lead abc">
                    Hello Lê Minh Chánh
                </span>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC6iPDSqcgCcAtdEz_rPY0B-sxqMd7hz0Hlg&usqp=CAU"
                     class="avatar-admin" alt="">
                <button class=" btn-out">
                    Log Out
                </button>
            </div>
        </div>
    </div>
    <!--start main-->
    <section class="py-3 header">
        <div class="container-fluid py-4">
            <form action="SaveAddBrand" method="post" class="input-group mb-3">
                <input type="text" name="NameBrand" required class="form-control" placeholder="New Brand" aria-label="Recipient's username">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary" type="button">Add</button>
                </div>
            </form>
            <div class="row">
                <div class="col-xxl-2 col-xl-12 col-lg-12 col-md-12">
                    <!-- Tabs nav -->
                    <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <a class="nav-link mb-3 p-3 shadow" id="v-pills-product-tab" data-toggle="pill"
                           href="#v-pills-product" role="tab" aria-controls="v-pills-product" aria-selected="true">
                            <i class="fa-solid fa-box-archive"></i>
                            <span class="font-weight-bold small text-uppercase fw-bold">My Product</span>
                        </a>

                        <a class="nav-link mb-3 p-3 shadow" id="v-pills-customer-tab" data-toggle="pill"
                           href="#v-pills-customer" role="tab" aria-controls="v-pills-customer" aria-selected="false">
                            <i class="fa-solid fa-users"></i>
                            <span class="font-weight-bold small text-uppercase fw-bold">Customer</span>
                        </a>

                        <a class="nav-link mb-3 p-3 shadow active" id="v-pills-brand-tab" data-toggle="pill"
                           href="#v-pills-brand" role="tab" aria-controls="v-pills-brand" aria-selected="false">
                            <i class="fa-solid fa-copyright"></i>
                            <span class="font-weight-bold small text-uppercase fw-bold">Brand</span>
                        </a>

                        <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill"
                           href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                            <i class="fa-solid fa-boxes-packing"></i>
                            <span class="font-weight-bold small text-uppercase fw-bold">My Order</span>
                        </a>
                    </div>
                </div>


                <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12">
                    <!-- Tabs content -->
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-product"
                             role="tabpanel"
                             aria-labelledby="v-pills-product-tab">
                            <h4 class="font-italic mb-4">Brand</h4>
                            <table id="databrand" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Brand Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Item in Model)
                                    {
                                        <tr id="contain-@Item.Id">
                                            <form action="EditBrand?IdBrand=@Item.Id" method="post">
                                            <td>@Item.Id</td>
                                            <td><input value="@Item.Name" name="NameBrand" /></td>
                                            <td>
                                                <button class="btns btns-view remove-brand" data-id="@Item.Id" data-contain="contain-@Item.Id">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                                <button type="submit" class="btns btns-view" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop10">
                                                    <i class="fas fa-save"></i>
                                                </button>
                                            </td>
                                            </form>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--end main-->
    <script src="~/Content/admin/js/table.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script type="text/css" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" />
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        // remove product
        $(function () {
            $(".remove-brand").each(function () {
                $(this).click((e) => {
                    e.preventDefault()
                    let id = $(this).data("id")
                    let idRow = $(this).data("contain")
                    let confirmDelete = confirm(`Are you sure wanna delete this brand`)
                    if (confirmDelete) {
                        $.ajax({
                            url: `/Admin/ManageBrand/DeleteBrand?id=${id}`,
                            type: "DELETE",
                            async: false,
                            success: function (data) {
                                alert(data.text)
                                $(`#` + idRow).remove()
                            },
                            error: function (errormessage) {
                                alert("error");
                            }
                        })
                    }
                });
            });
        })
    </script>
</body>
</html>
